.Ristinolla {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 100px;
  width: 400px;
  height: 400px;
  padding: 5px;
  border: 1px solid #222222;
}

.rivi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Nelio {
  display: block;
  width: 125px;
  height: 125px;
  border: 1px solid #222222;
  font-size: 5em;
  text-align: center;
}

.Ristinolla-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Ristinolla-logo {
    animation: Ristinolla-logo-spin infinite 20s linear;
  }
}

.Ristinolla-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Ristinolla-link {
  color: #61dafb;
}

@keyframes Ristinolla-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
